{"openapi":"3.0.3","info":{"title":"laut.fm-API","description":"Die API exponiert **allgemeine Informationen über laut.fm** (\"Welche Genres gibt es?\", \"Wie ist der Status des Servers?\"), **Auflistungen von Stationen** (alle, nach Anfangsbuchstaben, nach Genres) und **Informationen über einzelne Stationen** (allgemeine Infos, der aktuelle Track, das Netzwerk).\nErgänzt wird die normale laut.fm-API durch die <a href=\"https://search.api.laut.fm\" target=\"_blank\" rel=\"noreferrer noopener\">laut.fm-Search-API</a>.\n\n## Zugriff auf die API per Javascript\nUm den API-Zugriff per Javascript so einfach, wie irgendwie möglich zu machen, haben wir eine Javascript-Bibliothek entwickelt. Diese Bibliothek ist – inklusive vieler einfacher Beispielen – bei <a href=\"https://github.com/lautde/lautfm_js_tools\" target=\"_blank\" rel=\"norefferer noopener\">Github gehostet</a>. Sie ermöglich nicht nur die Benutzung der normalen API, sondern auch der Such-API und enthält sogar einen komplett per Javascript steuerbaren Player.\nWer trotzdem “zu Fuß” per Javascript zugreifen will, kann sich an unserer Javascript-Bibliothek orientieren.\n\n## Beispiele\n\n- <a href=\"https://api.laut.fm/static/example.phps\">PHP-Demo</a>\n\n## Datenschutzerklärung für die Verwendung dieser API auf einer Website\nWird diese API im Kontext einer Website über Javascript genutzt, so können Besucher der Website mit diesem Passus in der Datenschutzerklärung über die API-Verbindung aufgeklärt werden.\n\n## Verwendung der laut.fm-API\nDiese Website benutzt die öffentliche laut.fm-API. Die laut.fm-API ist ein Dienst der <a href=\"https://www.laut.ag\">LAUT AG</a> und exponiert allgemeine Informationen über <a href=\"https://laut.fm\">laut.fm</a>, Auflistungen von Stationen und Informationen über einzelne Stationen. Bei Zugriff auf die API werden automatisch Informationen allgemeiner Natur an laut.fm übertragen. Diese Informationen beinhalten etwa die IP-Adresse, die Art des Webbrowsers und des verwendete Betriebssystems, den Domainnamen Ihres Internet Service Providers und Ähnliches. Hierbei handelt es sich ausschließlich um Informationen, welche keine Rückschlüsse auf Ihre Person zulassen. Diese Informationen sind technisch notwendig, um beispielsweise den aktuell laufenden Titel korrekt auszuliefern und fallen bei Nutzung des Internets zwingend an. Anonyme Informationen dieser Art werden von der LAUT AG nur kurzfristig gespeichert und gegebenenfalls statistisch ausgewertet, um die API und die dahinterstehende Technik zu optimieren.\n","version":"1.0.1","contact":{"name":"laut.fm-Team","email":"team@laut.fm"}},"servers":[{"url":"https://api.laut.fm"}],"tags":[{"name":"General","description":"General information about servers, listeners, and resources"},{"name":"Stations","description":"Everything about stations"},{"name":"Station","description":"Everything about a Station"}],"paths":{"/server_status":{"get":{"tags":["General"],"summary":"Server Status","description":"The current server status and a message to be displayed to the users","parameters":[{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"running":{"type":"boolean"},"message":{"type":"string","example":"laut.fm läuft im regulären Betrieb"}}}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/time":{"get":{"tags":["General"],"summary":"Server Time","description":"The server time","parameters":[{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string","example":"2023-11-29 14:31:22 +0100"}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/letters":{"get":{"tags":["General"],"summary":"Station Starting Letters","description":"All available starting-letters of the stations","parameters":[{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"example":["a","b","c"]}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/genres":{"get":{"tags":["General"],"summary":"Genres","description":"All available genres","parameters":[{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","example":"Pop"},"score":{"type":"integer","example":3040},"related":{"type":"array","items":{"type":"string"},"example":["rock","hip-hop","metal"]}}}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/station_names":{"get":{"tags":["General"],"summary":"Station Names","description":"The names of all stations","parameters":[{"$ref":"#/components/parameters/OrderQueryParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"example":["eins","zwo","nick"]}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/listeners":{"get":{"tags":["General"],"summary":"Listeners by Station","description":"The listeners of all stations","parameters":[{"name":"damped","description":"Actual listener counts will be run through a dampening function to remove volatility","in":"query","schema":{"type":"boolean"}},{"$ref":"#/components/parameters/OrderQueryParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","example":{"eins":1,"zwo":40,"nick":0}}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/song_change.stream.json":{"get":{"tags":["General"],"summary":"Song Change Stream","description":"All occurring song changes as continuous stream of linebreak separated json documents\n\n**This will not work with `Try it Out`**\n","responses":{"default":{"description":"An example Response schema","content":{"application/jsonl":{"schema":{"$ref":"#/components/schemas/StreamedSong"}}}}}}},"/song_change.ws.json":{"servers":[{"url":"wss://api.laut.fm"}],"get":{"tags":["General"],"summary":"Song Change Stream","description":"**This Endpoint is for Documentation Purposes Only. You must make this request using a websocket implementation.**\n\nAll occurring song changes as continuous websocket stream of json documents\n\nYou may request either `ws` or `wss` protocol.\n\nThe server for this request is: `wss://api.laut.fm` and the full request would look like `wss://api.laut.fm/song_change.ws.json`\n\n**This will not work with `Try it Out`**\n","responses":{"default":{"description":"An example Response schema","content":{"application/jsonl":{"schema":{"$ref":"#/components/schemas/StreamedSong"}}}}}}},"/stations":{"get":{"tags":["Stations"],"summary":"All stations","description":"All stations","parameters":[{"$ref":"#/components/parameters/OrderQueryParam"},{"$ref":"#/components/parameters/LimitQueryParam"},{"$ref":"#/components/parameters/OffsetQueryParam"},{"$ref":"#/components/parameters/LatQueryParam"},{"$ref":"#/components/parameters/LongQueryParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/Station"}},{"allOf":[{"$ref":"#/components/schemas/PaginationInfo"},{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Station"}}}}]}]}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/stations/live":{"get":{"tags":["Stations"],"summary":"Stations Live Broadcasting","description":"A list of all stations sending live at the moment","parameters":[{"$ref":"#/components/parameters/OrderQueryParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Station"}}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/stations/numbers":{"get":{"tags":["Stations"],"summary":"All Stations beginning with numbers","description":"All stations beginning with a number","parameters":[{"$ref":"#/components/parameters/OrderQueryParam"},{"$ref":"#/components/parameters/LimitQueryParam"},{"$ref":"#/components/parameters/OffsetQueryParam"},{"$ref":"#/components/parameters/LatQueryParam"},{"$ref":"#/components/parameters/LongQueryParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/Station"}},{"allOf":[{"$ref":"#/components/schemas/PaginationInfo"},{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Station"}}}}]}]}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/stations/letter/{letter}":{"get":{"tags":["Stations"],"summary":"All Stations beginning with a given letter","description":"All stations beginning with the certain letter","parameters":[{"name":"letter","required":true,"in":"path","description":"a single letter","schema":{"type":"string"}},{"$ref":"#/components/parameters/OrderQueryParam"},{"$ref":"#/components/parameters/LimitQueryParam"},{"$ref":"#/components/parameters/OffsetQueryParam"},{"$ref":"#/components/parameters/LatQueryParam"},{"$ref":"#/components/parameters/LongQueryParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/Station"}},{"allOf":[{"$ref":"#/components/schemas/PaginationInfo"},{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Station"}}}}]}]}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/stations/genre/{genre}":{"get":{"tags":["Stations"],"summary":"All Stations of a Genre","description":"All stations of a certain genre\nIf `order` is specified, the results are ordered by the genre-number weighted position\n","parameters":[{"name":"genre","required":true,"in":"path","schema":{"type":"string"}},{"$ref":"#/components/parameters/OrderQueryParam"},{"$ref":"#/components/parameters/LimitQueryParam"},{"$ref":"#/components/parameters/OffsetQueryParam"},{"$ref":"#/components/parameters/LatQueryParam"},{"$ref":"#/components/parameters/LongQueryParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"oneOf":[{"type":"array","items":{"$ref":"#/components/schemas/Station"}},{"allOf":[{"$ref":"#/components/schemas/PaginationInfo"},{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Station"}}}}]}]}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/stations/{station_list}":{"get":{"tags":["Stations"],"summary":"Stations information","description":"Details about the given stations. Inactive stations are excluded.","parameters":[{"name":"station_list","required":true,"in":"path","allowReserved":true,"schema":{"type":"array","items":{"type":"string"},"minItems":1},"description":"a comma separated list of station names"},{"$ref":"#/components/parameters/OrderQueryParam"},{"$ref":"#/components/parameters/LatQueryParam"},{"$ref":"#/components/parameters/LongQueryParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Station"}}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/station/{name}":{"get":{"tags":["Station"],"summary":"Station information","description":"The basic info about a single station","parameters":[{"$ref":"#/components/parameters/StationNameParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Station"}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/station/{name}/listeners":{"get":{"tags":["Station"],"summary":"Current Listeners","description":"The listener count of a single station","parameters":[{"$ref":"#/components/parameters/StationNameParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer"}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/station/{name}/images/{type}":{"get":{"tags":["Station"],"summary":"Station Images","description":"A convenience function to return the requested image from our asset server.\n\n**This function will not work with `Try it Out`**\n","parameters":[{"$ref":"#/components/parameters/StationNameParam"},{"name":"type","required":true,"in":"path","schema":{"type":"string","enum":["station","station_80x80","station_120x120","station_640x640","background","background_1024x768","background_768x1024","website","website_640x640"]}},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"The response will perform a redirect to our asset server (usually located at `https://assets.laut.fm`) and will follow our hashed url, which will end up returning an image.\n\nFor those interested, this url looks like `https://assets.laut.fm/{hash}?t=_80x80` for the `station_80x80` image type.\n","content":{"image/jpeg":{"schema":{"type":"string","format":"binary"}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/station/{name}/schedule":{"get":{"tags":["Station"],"summary":"Station Schedule","description":"The schedule of a single station","parameters":[{"$ref":"#/components/parameters/StationNameParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ScheduleItem"}}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/station/{name}/playlists":{"get":{"tags":["Station"],"summary":"Schedule by Playlists","description":"The schedule of a single station grouped by playlists","parameters":[{"$ref":"#/components/parameters/StationNameParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"allOf":[{"$ref":"#/components/schemas/BasePlaylist"},{"type":"object","properties":{"airtimes":{"type":"array","items":{"$ref":"#/components/schemas/Airtime"}}}}]}}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/station/{name}/current_song":{"get":{"tags":["Station"],"summary":"Current Song","description":"The currently playing song of a single station","parameters":[{"$ref":"#/components/parameters/StationNameParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Song"}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/station/{name}/last_songs":{"get":{"tags":["Station"],"summary":"Last Songs","description":"The 10 last songs of a single station","parameters":[{"$ref":"#/components/parameters/StationNameParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","minItems":10,"maxItems":10,"items":{"$ref":"#/components/schemas/Song"}}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}},"/station/{name}/next_artists":{"get":{"tags":["Station"],"summary":"Next Artists","description":"Next artists of a single station. Information may be inaccurate or plainly wrong right before a playlist or schedule change.","parameters":[{"$ref":"#/components/parameters/StationNameParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","maxItems":3,"minItems":3,"items":{"$ref":"#/components/schemas/Artist"}}}},"headers":{"Cache-Control":{"$ref":"#/components/headers/CacheControlHeader"},"Expires":{"$ref":"#/components/headers/ExpiresHeader"},"Date":{"$ref":"#/components/headers/DateHeader"},"Age":{"$ref":"#/components/headers/AgeHeader"}}}}}}},"components":{"headers":{"CacheControlHeader":{"schema":{"type":"string","example":"max-age=60"}},"ExpiresHeader":{"schema":{"type":"string","example":"Tue, 05 Dec 2023 13:29:11 GMT"}},"DateHeader":{"schema":{"type":"string","example":"Tue, 05 Dec 2023 13:29:11 GMT"}},"AgeHeader":{"schema":{"type":"integer","example":6}}},"parameters":{"StationNameParam":{"name":"name","required":true,"in":"path","schema":{"type":"string"},"description":"Station Name"},"IfModifiedSinceParam":{"name":"If-Modified-Since","in":"header","schema":{"type":"string"}},"OrderQueryParam":{"name":"order","in":"query","schema":{"type":"string","enum":["asc","desc"]}},"LimitQueryParam":{"name":"limit","in":"query","schema":{"type":"integer"}},"OffsetQueryParam":{"name":"offset","in":"query","description":"returns response with pagination information","schema":{"type":"integer"}},"LatQueryParam":{"name":"lat","in":"query","description":"requires `lng` also be specified\nIf `order` parameter is possible and specified, the order will be based on the distance from the values of `lat` and `lng`\n","schema":{"type":"number"}},"LongQueryParam":{"name":"lng","in":"query","description":"requires `lat` also be specified\nIf `order` parameter is possible and specified, the order will be based on the distance from the values of `lat` and `lng`\n","schema":{"type":"number"}}},"schemas":{"Station":{"type":"object","properties":{"name":{"type":"string","example":"nick"},"display_name":{"type":"string","example":"Nick"},"spoken_name":{"type":"string","nullable":true,"example":"nick"},"page_url":{"type":"string","example":"https://laut.fm/nick"},"stream_url":{"type":"string","example":"https://stream.laut.fm/nick"},"api_urls":{"type":"object","properties":{"station":{"type":"string","example":"https://api.laut.fm/station/nick"},"current_song":{"type":"string","example":"https://api.alut.fm/station/nick/current_song"},"last_songs":{"type":"string","example":"https://api.alut.fm/station/nick/last_songs"},"next_artists":{"type":"string","example":"https://api.alut.fm/station/nick/next_artists"},"playlists":{"type":"string","example":"https://api.alut.fm/station/nick/playlists"},"schedule":{"type":"string","example":"https://api.alut.fm/station/nick/schedule"},"listeners":{"type":"string","example":"https://api.alut.fm/station/nick/listeners"}}},"format":{"type":"string","example":"My awesome station"},"description":{"type":"string","example":"Some Description"},"djs":{"type":"string","example":"Nick"},"location":{"type":"string","example":"Bodensee"},"lat":{"type":"number","example":1.23},"lng":{"type":"number","example":1.23},"color":{"type":"string","example":"#fff","pattern":"^#[a-fA-F0-9]{3,6}$"},"updated_at":{"type":"string","example":"2023-10-1 12:34:01 +0000"},"genres":{"type":"array","items":{"type":"string"},"example":["rock","pop"]},"active":{"type":"boolean"},"position":{"type":"integer","example":23},"third_parties":{"type":"object","properties":{"amazon":{"type":"object","properties":{"skill_name":{"type":"string"},"invocation_name":{"type":"string"}}},"instagram":{"type":"object","properties":{"name":{"type":"string"}}},"website":{"type":"object","properties":{"url":{"type":"string","example":"https://radio-nick.example.com"}}},"tunein":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"}}},"twitter":{"type":"object","properties":{"name":{"type":"string","example":"ExampleHandle"},"url":{"type":"string","example":"https://twitter.com/ExampleHandle"}}},"facebook":{"type":"object","properties":{"page":{"type":"object","example":"https://facebook.com/example-handle"}}},"phonostar":{"type":"object","properties":{"url":{"type":"object","example":"https://phonostar.de/cool-station"}}},"radiode":{"type":"object","properties":{"url":{"type":"object","example":"https://radio.de/cool-station"}}}}},"images":{"type":"object","properties":{"station":{"type":"string","example":"https://assets.laut.fm/123456"},"station_80x80":{"type":"string","example":"https://assets.laut.fm/123456?t=_80x80"},"station_120x120":{"type":"string","example":"https://assets.laut.fm/123456?t=_120x120"},"station_640x640":{"type":"string","example":"https://assets.laut.fm/123456?t=_640x640"},"background":{"type":"string","example":"https://assets.laut.fm/123456"},"background_1024x786":{"type":"string","example":"https://assets.laut.fm/123456?t=_1024x786"},"background_786x1024":{"type":"string","example":"https://assets.laut.fm/123456?t=_786x1024"}}},"current_playlist":{"$ref":"#/components/schemas/Playlist"},"next_playlist":{"$ref":"#/components/schemas/Playlist"},"top_artists":{"type":"array","items":{"type":"string"},"example":["Shakira","Eagle Eye Cherry"]}}},"BasePlaylist":{"type":"object","properties":{"id":{"type":"integer","example":1234},"name":{"type":"string","example":"My Playlist"},"description":{"type":"string","example":"Playlist of the Gods"},"color":{"type":"string","example":"#fff","pattern":"^#[a-fA-F0-9]{3,6}$"},"length":{"type":"integer","minimum":0,"example":365}}},"Playlist":{"allOf":[{"$ref":"#/components/schemas/BasePlaylist"},{"$ref":"#/components/schemas/ScheduleItem"},{"type":"object","properties":{"starts_at":{"type":"string","example":"2023-10-1 12:34:01 +0000"},"started_at":{"type":"string","example":"2023-10-1 12:34:03 +0000"},"ends_at":{"type":"string","example":"2023-10-1 12:37:00 +0000"}}}]},"Airtime":{"type":"object","properties":{"day":{"type":"string","enum":["mon","tue","wed","thu","fri","sat","sun"]},"hour":{"type":"integer","minimum":0,"maximum":24,"example":3},"end_time":{"type":"integer","minimum":0,"maximum":24,"example":4}}},"ScheduleItem":{"allOf":[{"$ref":"#/components/schemas/BasePlaylist"},{"type":"object","properties":{"shuffled":{"type":"boolean"}}},{"$ref":"#/components/schemas/Airtime"}]},"Song":{"type":"object","properties":{"id":{"type":"integer","example":132},"type":{"type":"string","example":"song"},"title":{"type":"string","example":"Save Tonight"},"album":{"type":"string"},"length":{"type":"integer","example":360},"genre":{"type":"string","example":"rock"},"releaseyear":{"type":"integer","example":1968},"created_at":{"type":"string","example":"2023-10-1 12:33:01 +0000"},"artist":{"$ref":"#/components/schemas/Artist"},"started_at":{"type":"string","example":"2023-10-1 12:34:01 +0000"},"ends_at":{"type":"string","example":"2023-10-1 12:40:01 +0000"}}},"Artist":{"type":"object","properties":{"name":{"type":"string","example":"Eagle Eye Cherry"},"laut_id":{"type":"integer"},"url":{"type":"string"},"laut_url":{"type":"string"},"image":{"type":"string"},"thumb":{"type":"string"}}},"PaginationInfo":{"type":"object","properties":{"total":{"type":"integer"},"offset":{"type":"integer"},"limit":{"type":"integer"},"next_offset":{"type":"integer"}}},"StreamedSong":{"allOf":[{"$ref":"#/components/schemas/Song"},{"type":"object","properties":{"station":{"type":"string"},"tags":{"type":"array","items":{"type":"string"},"default":[]},"next_artists":{"type":"array","minItems":3,"maxItems":3,"items":{"type":"string"}}}}]}}}}